* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 10px auto;
  max-width: 1000px;
  background-image: url("images/bg.png");
  background-size: 100%;
}

h1 {
  font-size: 3rem;
  padding: 5px;
  display: inline;
}

p {
  font-size: 1.3rem;
}

a {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 15px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  font-size: 1.8rem;
  margin: 0px 20px;
}

.today {
  display: inline;
  font-size: 1.8rem;
}

.board {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 300px;
  margin: 15px;
  perspective: 1000px;
  position: relative;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 20px solid rgb(221, 221, 221);
  border-radius: 30px;
  box-shadow: 5px 8px 8px #313131c2;
  transition: transform 1.5s;
  -webkit-transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon {
  width: 150px;
  padding: 25px 10px;
}

/*  TIMER  */
.time-icon {
  width: 40px;
  position: relative;
  bottom: 42px;
  left: 75px;
}

.time-icon-hidden {
  display: none;
}

.time-display {
  font-size: 2.2rem;
  padding-top: 5px;
}

/*  WINNER DIV  */

.winner {
  font-size: 7rem;
  font-weight: 800px;
}

.winner-icon {
  width: 120px;
  padding: 10px;
  padding-bottom: 50px;
}

.winner-page {
  width: 90%;
  height: 85%;
  border: 20px solid rgb(221, 221, 221);
  border-radius: 30px;
  box-shadow: 5px 8px 8px #313131c2;
  padding: 100px 50px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  transition: 0.5s;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

/*.play-again {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  padding: 10px;
  margin: 20px;
}

.play-again:hover {
  background-color: black;
  color: white;
  transition: 1s;
}*/

@media only screen and (max-width: 600px) {
  .winner-page {
    padding: 50px 15px;
    top: 100px;
  }
  .winner-icon {
    width: 100px;
    margin: 0px;
    padding: 3px;
  }

  .winner {
    font-size: 3.5rem;
    display: block;
    padding-bottom: 0px;
  }
}
